<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My error page</h1>
    <p>timestamp:
        <b>[[${timestamp}]]</b>
    </p>
    <p>status:
        <b>[[${status}]]</b>
    </p>
    <p>error:
        <b>[[${error}]]</b>
    </p>
    <p>exception:
        <b>[[${exception}]]</b>
    </p>
    <p>message:
        <b>[[${message}]]</b>
    </p>
    <p>errors:
        <b>[[${errors}]]</b>
    </p>
</body>
</html>