<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE beans[
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>
        <!ATTLIST property name CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>
        ]>

<beans>

    <bean id="customerDAO" class="JavaWeb.customer.dao.Impl.CustomerDAOImpl"/>
    <bean id="customerService" class="JavaWeb.customer.service.Impl.CustomerServiceImpl">
        <!--    property 標籤用來表示依賴屬性: name:表示屬性名 ; ref:表示引用其他bean的id值    -->
        <property name="customerDAO" ref="customerDAO"/>
    </bean>

    <!--  如果 DispatchServlet 中 servletPath = customer 就要 CustomerController 來處理 -->
    <bean id="customer" class="JavaWeb.customer.controllers.CustomerController">
        <property name="customerService" ref="customerService"/>
    </bean>

    <bean id="page" class="JavaWeb.myssm.myspringmvc.PageController"/>

</beans>