.contBox li a { color: black; }
#newsLALU_detail{ width:100%; max-width: 800px; margin: 0 auto; padding: .5em 0;  position:relative;   }
.news_detail{ width: 100%; padding: 0 1.5em 3em 1.5em; line-height: 1.5em;  }
.newsDet_tit{ width: 100%; line-height: 2em; padding-bottom: 1em; margin-bottom: 2em; border-bottom: solid 1px #888;   }
.newsDet_tit time{ padding-bottom: 1em; color: #555; }
.xCLOSE{ width: 30px; height: 30px; display:  block; color: #fff;  margin: 1em 1em 2em 1em;
background: rgb(243, 243, 243);
background: -moz-linear-gradient(30deg, rgb(253, 253, 253) 30%, rgb(233, 233, 233) 70%);
background: -webkit-linear-gradient(30deg, rgb(253, 253, 253) 30%, rgb(233, 233, 233) 70%);
background: -o-linear-gradient(30deg, rgb(253, 253, 253) 30%, rgb(233, 233, 233) 70%);
background: -ms-linear-gradient(30deg, rgb(253, 253, 253) 30%, rgb(233, 233, 233) 70%);
background: linear-gradient(120deg, rgb(253, 253, 253) 30%, rgb(233, 233, 233) 70%);
-webkit-border-radius:50em;  border-radius: 50em;
-webkit-box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.4); -moz-box-shadow:  2px 1px 5px 0px rgba(50, 50, 50, 0.4); box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.4);
  }
.xCLOSE span{ display:block; position:relative; width:12px; height:100%; margin: 0 auto;    }
.xCLOSE span:before, .xCLOSE span:after { cursor: pointer;  -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; border-radius: 1px; height: 1px; width: 100%; background: #000; display: block; content: ''; position: absolute; top:50%;  }
.xCLOSE span:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);    }
.xCLOSE span:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);   }
.xCLOSE:hover{  
-webkit-box-shadow: 2px 1px 10px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow:  2px 1px 10px 0px rgba(50, 50, 50, 0.5); box-shadow: 2px 1px 10px 0px rgba(50, 50, 50, 0.5);
 }
@media (max-width:600px){
	 .xCLOSE{ margin: 3em 0 4em 1em;}
	 .news_detail img { width: 100%!important; height: auto!important; }
}
