@charset "utf-8";

@font-face {
  font-family: 'MyriadPro-Regular';
  src:url('../font/Myriad%20Pro/MyriadPro-Regular.eot');
  src: url('../font/Myriad%20Pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Myriad%20Pro/MyriadPro-Regular.woff2') format('woff2'),
       url('../font/Myriad%20Pro/MyriadPro-Regular.woff') format('woff'),
       url('../font/Myriad%20Pro/MyriadPro-Regular.ttf') format('truetype'),
       url('../font/Myriad%20Pro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Lora-Regular';
	src: url('../font/Lora/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'LucidaFax-Regular';
	src:url('../font/LucidaFax/LucidaFax_gdi.eot');
	src: url('../font/LucidaFax/LucidaFax_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/LucidaFax/LucidaFax_gdi.woff') format('woff'),
		url('../font/LucidaFax/LucidaFax_gdi.ttf') format('truetype'),
		url('../font/LucidaFax/LucidaFax_gdi.svg#LucidaFax-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
/* ===============  HTML5 display definitions  =============== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; } 
[hidden] { display: none; }

/* ===============  Base  =============== */
html { width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;  -webkit-font-smoothing: antialiased; height:100%;   }
body { width:100%; height:100%;  margin: 0; overflow-x:hidden;  position:relative; 
	   font-size: 100%; line-height: 100%; font-weight:normal;
	   font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif';
	   /*text-rendering: optimizeLegibility;*/ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: 'liga', 'kern';
      -webkit-overflow-scrolling: touch; }
 
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0; } 
a{ text-decoration:none; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
a:active, a:hover { outline: 0; }
img { border: 0;}
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
dl, menu, ol, ul { margin: 0; }
ul{ list-style:none; list-style-image: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*p { line-height: 150%; }*/
h1,h2,h3,h4,h5,h6{ font-weight:normal}

/* ===============  Forms  =============== */
form { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px;  }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;  }
button, input { line-height: normal; }
button, html input[type="button"], 
input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
/*去除input藍色框框*/
input,button,select,textarea{outline:none}
 *:focus { outline: none; }

/*placeholder 點一下後快速消失*/
input:focus, textarea:focus{ outline:none; }
input:focus:placeholder { color: transparent; }
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; }
input:focus::-moz-placeholder  { color: transparent; }
input:focus:-ms-input-placeholder  { color: transparent;}

/* ===============  Typography  =============== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
mark { background: #ff0; color: #000; }
/*p, pre { margin: 1em 0; line-height:160%; }*/
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
hr{border:0;}

h1,h2,h3,h4,h5,h6{ font-weight:normal; line-height: 1em;}
/* ===============  Start  =============== */
body{ position:relative; background:#dedede}
body.on{overflow:hidden}

.wrapper{ position:relative; width:100%; max-width:1172px; margin:auto; box-shadow: 0px 0px 31px 2px #CCC; background:#FFF; height:auto;}
.wrapperINN{ position:relative; width:90%;  max-width:1040px; margin:auto; padding-bottom:30px;}
.wrapperB{position:relative; width:90%;  max-width:1040px; margin:auto; padding-bottom:30px; background:#000}
.relative{ position:relative;}
@media screen and (max-width:1160px){
	body{ background:#FFF;}
	}
.menu{ padding-top:15px; position:relative; }
.menu .logo, .menu .menuList{ display:inline-block; vertical-align:top;}
.menu .logo{  font-size:0 ;padding-left:30px; position:relative; z-index:999; top:15px;}
.menu .menuList{ float:right; padding-top:15px; }
.menu .menuList:after{ content:''; display:block; clear:both;}

.menuList .top{ padding-top:10px}
.topMenu, .global, .lang{ display:inline-block; vertical-align:middle; font-family:'微軟正黑體'}
.topMenu{ margin-right:20px; margin-left:60px; padding-top:5px;}
.topMenu li{ font-size:11px; display:inline-block; vertical-align:top;}
.topMenu li:after{ content:''; display:inline-block; width:1px; height:10px; background:#e5dfe5; margin:0 20px;}
.topMenu li:last-child:after{ display:none;}
.topMenu li a{ color:#999; }
.topMenu li:hover a{ color:#4d4d4d;}

.global, .lang{ font-family:Arial, Helvetica, sans-serif; height:25px;font-size:11px;  color:#CFCFCF; 
width:125px; text-indent:1em; line-height:24px; background:#FFF; border:1px solid #EEE; position:relative; 
cursor:pointer; font-weight:bold; display:inline-block; vertical-align:top;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }

.global > span:hover, .lang > span:hover{ color:#4d4d4d; border-color:#333}
.global > span, .lang > span{ position:absolute}
.global > span.open{ z-index:99999999; animation: opa2 .6s  ease-in-out;}
.global ul, .lang ul{ font-size:11px; color:#FFF; position:absolute; left:0; top:0; background:rgba(0,0,0,.8); z-index:9999;  display:none; width:100%; padding:25px 15px 20px 0;  font-weight:normal}
.global ul li{}
.global ul li a, .lang ul li a{ color:#FFF;}
.global ul li a:hover, .lang ul li a:hover{ color:#CCC;}
.lang{}

.lang span.open{ z-index:99999;  animation: opa2 .6s  ease-in-out;}
.lang ul li{ padding-bottom:5px; margin-bottom:5px;}
.lang ul li:after{content:''; width:90%; height:1px; background:#4d4d4d; display:block; position:absolute; left:0; right:0; margin:auto;}
.lang ul li:last-child{ padding-bottom:0px; margin-bottom:0}
.lang ul li:last-child:after{ display:none;}

.global:after, .lang:after{content:''; width: 0; height: 0; border-style: solid; border-width: 6px 4.5px 0 4.5px; border-color: #b1b1b1 transparent transparent transparent; position:absolute; top:10px; right:10px; z-index:99;}
.lang{ width:155px; }


@keyframes opa2 {
	0% { opacity:0 }  
	100% { opacity:1  } 
	}
@-webkit-keyframes opa2 {
	0% { opacity:0 }  
	100% { opacity:1  } 
	}
.bottomMenu{ padding-top:20px;}
.bottomMenu li{ display:inline-block; vertical-align:top; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman", 'Baskerville' , 'Palatino', "Century Schoolbook L",  'serif'; margin-right:41px;}
.bottomMenu li:last-child{ margin-right:0}
.bottomMenu li a{ font-size:1rem; color:#000;}

.menu-S{ background:#FFF; padding:1em 0; position:absolute;width:100%; display:none; z-index:9999; top:0;}
.menu-S .inner{ width:100%; margin:auto;}
.menu-S h1{ font-size:0;}
.menu-S h1 img{ height:30px; width:auto; vertical-align:top;}
.menu-S .bookingBtn{  color:#555; position:absolute; right:110px; top:25px;}
.menu-S .bookingBtn:hover{ color:#AAA;}

.menuBtn{ width: 30px; height: 50px; cursor:pointer; position:absolute; z-index:999999; top:15px; right:0; display:none}
.menuBtn span{width: 100%; height: 1px; background: #000; margin: 8px auto; transition: all 0.3s; backface-visibility: hidden; display:block;}
.menuBtn.on .one{transform: rotate(45deg) translate(5px, 5px);}
.menuBtn.on .two{ opacity: 0;}
.menuBtn.on .three{transform: rotate(-45deg) translate(7px, -8px);}

.menuLight{width:100%; height:100%; background:rgba(255,255,255,.95); position:fixed; top:0; left:0; z-index:99999;/* overflow-y:auto; */display:none; padding-bottom:20px;}
.menuLight .inner{width:90%; margin:auto; position:absolute; left:0; right:0; margin:auto; text-align:center; top:5%; }
.menuLight .inner.on{opacity:1; visibility: visible; transition-delay: .2s; -webkit-transition-delay: .2s; -webkit-filter: none;}
.mainMenu,.subMenu{font-size:1.25rem; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif';  }

/*隱藏*/
.mainMenu{ opacity:0; visibility:hidden; -webkit-filter: blur(3px); transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; }
/*顯示*/
.open .mainMenu{ opacity:1; visibility: visible; transition-delay: .2s; -webkit-transition-delay: .2s; -webkit-filter: none;  height:auto;  }
/*隱藏*/
.openSubMenu .mainMenu{ opacity:0; visibility:hidden; height:0; overflow:hidden;  } 

.mainMenu li{ display:block; margin-bottom:30px; display:block}
.mainMenu li a, .subMenu li a{color:#000;}
.mainMenu li:hover a, .subMenu li:hover a{color:#AAA;}
.moreBtn{ color:#000; display:block; opacity:0; border:1px solid #000;  text-align:center; width:100px; height:30px; line-height:30px; margin:50px auto 30px; cursor:pointer; -webkit-filter: blur(3px);  transition-delay:.5s; -webkit-transition-delay:.5s; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; }
.moreBtn:after{ content:'More'; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out;}

/*隱藏*/
.subMenu{ font-size:.875rem; opacity:0; margin-top:50px; margin-bottom:30px; visibility:hidden; height:0; overflow:hidden; transform: translateY(.5em); transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out;  }
/*顯示*/
.openSubMenu .subMenu{opacity:1; visibility:visible;height:auto; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out;}

.subMenu li{ display:inline-block; margin-bottom:20px;}
.subMenu li:after{ display:inline-block; margin:0 10px; content:''; width:1px; height:10px; background:#CCC;}
.subMenu li:last-child:after{display:none;}

/*按鈕切換*/
.open .moreBtn{ opacity:1; -webkit-filter: none;}
.openSubMenu .moreBtn{  transition-delay:.5s; -webkit-transition-delay:.5s; }
.openSubMenu .moreBtn:after{content:'Back';}

/*隱藏*/
.langDrop{ cursor:pointer; margin-top:30px; font-size:.875rem; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif'; position:relative; display:block;width:120px; margin:auto;  opacity:0; visibility:hidden; height:0; overflow:hidden; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; }
.langDrop:after{content:''; width:50px; height:1px;background:#000; display:block; margin: 10px auto 0;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease;}
.langDrop:hover:after{width:100px;}
.langDrop.on:after{ display:none}

.openSubMenu .langDrop{opacity:1; visibility:visible;height:auto; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out;}
.langDrop span{ color:#000; }
.langDrop ul{ margin-top:15px; background:#333; display:none;}
.langDrop ul li{ display:block; margin-bottom:5px; padding:5px 0;}
.langDrop ul li:last-child{ margin-bottom:0}
.langDrop ul li:hover{ background:#000}
.langDrop ul li a{ color:#AAA;}

.menuInfo{ margin-top:50px; opacity:0; visibility:hidden; height:0; overflow:hidden; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; }
.openSubMenu .menuInfo{opacity:1; visibility:visible;height:auto; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out;}

.bannerIND{ height:630px; margin-top:-15px;}
.bannerIND:after{content:''; clear:both; display:block}
.bannerIND div{ height:630px;}

.bannerTit {  font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif';position:absolute; z-index:999999; left:55px; bottom:65px;}
.bannerTit h2{ font-family: 'Lora-Regular'; font-size:2rem; color:#FFF;  margin-bottom:5px; display:block; letter-spacing: 1px; }
.bannerTit p{ font-family: 'Lora-Regular'; letter-spacing: 1px; width: 100%; font-size:16px; color:#fff; line-height:180%; max-width:480px;}
.bannerTit small{ font-size:12px; letter-spacing: 1px; opacity: 0.8; color:#fff;  font-family: 'MyriadPro-Regular';line-height:180%}

.bannerTit02 {}
.bannerTit02 h2{ color:#000; }
.bannerTit02 p{ color: #555; }
.bannerTit02 small{ color: #555; }

.mainMenuP{font-size:.875rem; text-align:center; width:100%;font-size:1.2rem; font-weight:normal; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif'; display:none;}
.mainMenuP > .textBox{ color:#888; background:#EEE; display:block; width:100%; padding:12px 2.5%; cursor:pointer;  }
.mainMenuP > .textBox:hover{ color:#666}

.mainList {width:100%; background:#FFF; white-space:nowrap; overflow:hidden;/* overflow-x: scroll;*/ -webkit-overflow-scrolling: touch; }
.mainList li{ font-size:1rem; display:block; padding:.7em 0; margin:0 8%; }
.mainList li:not(:last-child){border-bottom: 1px solid #c2cade}
.mainList li a{ /*color:#586075;*/ color:#232323;}
@media screen and (max-width:1160px){
	.wrapper{max-width:100%; width:100%; height:100%; box-shadow:none; background:none}
	.wrapperINN{ max-width:100%; width:100%; height:100%; padding-bottom:0}
	.wrapperINN1160{ height:100%}
	.wrapperB{ width:100%; max-width:100%; height:100%}
	.wrapperB.on{ height:auto;}
	
	.subPhoneMenu{ display:block}
	.menu{ display:none;}
	
	.menu-S{ display:block}
	.menu-S .inner{ width:95%; margin:auto;}
	
	.menuBtn{ display:block;  right:5%}
	.bannerIND{ margin-top:0; position:absolute; width:100%; height:100%;}
	.bannerIND div{ width:100%; height:100%;}
	.mainMenuP{ display:block}
	}
@media screen and (max-height:600px){
	.mainMenu{ font-size:1.125rem;}
	.mainMenu li{ margin-bottom:20px;}
	
	}
@media screen and (max-width:600px){

	.wrapperB{width:100%; background:#FFF; padding-bottom:0;}

	.wrapper{width:100%;height:100%; box-shadow:none}
	.wrapperINN{ width:100%; height:100%; padding-bottom:0 }
	.wauto{ height:auto;}
	.relative{width:100%; height:100%}
		
	.bannerTit{ left:5% }
	.bannerTit small{ display:none;}

	.menu-S .inner{ width:90%; margin:auto;}
	
	.menu-S .bookingBtn{ right:80px}

	}

.boxIND{width:100%; max-width:980px; margin:auto; padding-top:50px; font-family:'微軟正黑體'; background:#FFF;}
.boxIND > div{ width:33%; display:inline-block; margin-right:-4px; vertical-align:top; background:url(../img/index_shadow_Hline.jpg) no-repeat right center;}
.boxIND > div:last-child{ background:none}
.boxIND > div > .inner{ width:80%; margin:auto}
.boxIND > div.tour > .inner{ margin:0}

.boxIND > div .inner h2{ font-size:1.2rem; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif'; letter-spacing:1px; margin-bottom:30px;}
.boxIND > div .inner h2 span{ font-size:1rem; color:#c4c4c4; display:inline-block; margin-left:8px;}

.package{ font-size:12px;}
.package:after{content:''; display:block; clear:both;}
.package span img{max-width:100%; }
.package .left{width:25%; float:left;}
.package .right{ display:none;}
.package div{ width:70%; float:right;}
.package div h3{ margin-bottom:15px;}
.package div p{ line-height:180%;}
.package div p a{ color:#4f4f4f; text-decoration:underline}
.package div p a:hover{ color:#000}

.newsBox ul {}
.newsBox ul li{ font-size:12px; display:block; margin-bottom:10px;}
.newsBox ul li a{ color:#4f4f4f;}
.newsBox ul li a:hover{ color:#000}
.newsBox ul li:before{ content:''; width:2px; height:2px; background:#7f7f7f; display:inline-block; vertical-align:middle; margin-right:10px;}

.booking{}
.booking p{font-size:13px; color:#4f4f4f; line-height:200%; margin-top:-8px;}
.booking p a{color:#4f4f4f; text-decoration:underline}
.booking p a:hover{ color:#000}

.boxPhone{ display:none}
@media screen and (max-width:1160px){
	.disNone{ display:none}
	.boxPhone{ display:block;}
	.boxIND{ max-width:100%; width:100%; padding:2em 5%;}
}
@media screen and (max-width:1000px){
	.boxIND{ padding:2em;}
	.boxIND > div{ width:50%; }
	.boxIND > .newsBox{ background:none;}
	.boxIND > div.booking {width:100%; margin-top:50px;}
	.boxIND > .booking > .inner{width:100%; text-align:center;}
	}

@media screen and (max-width:600px){
	
	.boxIND > div{ width:100%;  background:none; }
	.boxIND > div:after{content:''; width:100%; height:1px;/* background:url(../img/index_shadow_Hline01.png) no-repeat; */display:block; margin:30px 0; background:#EEE}
	.boxIND > div:last-child:after{ display:none}
	.boxIND > div >.inner,.boxIND > .booking > .inner, .boxIND > div.tour > .inner{ width:95%; margin:auto;}
	.boxIND > div .inner h2{ text-align:left;}
	
	.package .left{ display:none}
	.package .right{ display:block; float:right;}
	.package div{float:left;}
	
	.newsBox ul li{text-align:left;}
	.newsBox ul li:before{ display:none}
	.boxIND > div.booking{ margin-top:0}
	.booking p{text-align:left;}
	}
footer{width:100%; padding-top:35px; padding-bottom:30px; font-family:'微軟正黑體'}
footer:after{content:''; display:block; clear:both;}
footer .inner{ max-width:980px; width:90%; margin:auto;}
footer ul{ margin-bottom:25px; }
footer ul li{ font-size:12px; display:inline-block; vertical-align:top;}
footer ul li:after{content:''; width:1px; height:12px; background:#cfcbcb; margin:0 19px; display:inline-block; vertical-align:middle}
footer ul li:last-child:after{display:none}
footer ul li a{ color:#999; }
footer ul li a:hover{ color:#000}

footer .left{ float:left;}
footer .left p, footer .left .fb, footer .left .ig, footer .left .u2, footer .left .ps{ font-size:12px; color:#333; display:inline-block; vertical-align:bottom}
footer .left .fb,footer .left .ig,footer .left .u2,footer .left .ps{width:19px; height:19px; margin-left:25px;}
footer .left .fb:hover,footer .left .ig:hover,footer .left .u2:hover,footer .left .ps:hover{ opacity:.5}
footer .left .fb{ background:url(../img/fb_bt.jpg) no-repeat center center }
footer .left .ig{ background:url(../img/ins_bt.jpg) no-repeat center center}
footer .left .u2{ background:url(../img/u2_bt.jpg) no-repeat center center;background-size:contain;}
footer .left .ps{ background:url(../img/ps_bt.jpg) no-repeat center center;background-size:contain;}

footer .right{ font-size:11px; color:#888; float:right; padding-right:12px;}
footer .right span{ display:inline-block; vertical-align:bottom}
footer .right span.weather{ font-size:1rem; margin-right:25px;}
footer .right span.local{ margin-right:10px;}


@media screen and (max-width:1160px){
	footer{ display:none}
	.pb3e{padding-bottom:3em;}
	footer ul ,footer .left p{ display:none}
	}

/*單元 標題*/

.moreTit{ position:absolute; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif';}
.moreTit h2{font-size:2rem; color:#000;}
.moreTit p{ font-size:1.125rem; color:#3c4043; line-height:150%; letter-spacing:1px; margin:30px 0 20px;}
.moreTit small{font-size:.75rem; color:#656d6f; display:block; line-height:150%;  font-family: 'MyriadPro-Regular';letter-spacing:1px;}

.moreTitabout{ position:absolute;  right:85px; direction:rtl; top:225px; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif';}
.moreTitabout p{ max-width:275px; }
.moreTitabout small{max-width:415px; }

.moreTitroom{ left:85px; top:225px; direction:ltr; }
.moreTitroom p{ max-width:500px; margin-bottom:10px}
.moreTitroom small{ max-width:430px;}

.moreTitTravel{direction:ltr; top:225px; right:85px;}
.moreTitTravel p{max-width:500px;}
.moreTitTravel small{max-width:370px;}

.moreTitDic{direction:ltr; left:85px; top:225px;}
.moreTitDic p{max-width:500px;}
.moreTitDic small{ max-width:400px;}

.moreTitNew{direction:ltr; left:85px; top:225px} 
.moreTitNew p{ max-width:600px;}
.moreTitNew small{ font-size:.75rem;max-width:450px; line-height:180%}

.moreTitwed{direction:ltr; left:85px; top:285px;}
.moreTitwed h2,.moreTitwed p{color:#FFF}
.moreTitwed p{ max-width:350px;}

.moreTitbau{ text-align:center; width:100%; top:540px; }
.moreTitbau h2, .moreTitbau p{ color:#FFF; max-width:90%; margin:auto;}
.moreTitbau p{ margin:30px auto 20px; color:#c4c4ba;}
.moreTitbau small{ font-size:.75rem; color:#a39690; margin:auto; max-width:330px}

.moreTitfea{ text-align: center; width:100%; top:500px;}
.moreTitfea h2, .moreTitfea p{ color:#000; max-width:90%; margin:auto;}
.moreTitfea p{ margin:30px auto 20px;}
.moreTitfea small{ font-size:.75rem; max-width:385px; text-align:center; margin:auto;}

.moreTitspa{ text-align:center; width:100%; top:225px}
.moreTitspa h2, .moreTitspa p{ text-align:center; max-width:90%; margin:auto;}
.moreTitspa p{margin:30px auto 20px;}
.moreTitspa small{ font-size:.75rem; max-width:500px; text-align:center; margin:auto;}

.moreTitvip{direction:ltr; top:410px; right:90px; }
.moreTitvip h2, .moreTitvip p{ color:#000;}
.moreTitvip p{ margin:30px 0 15px;}
.moreTitvip small{ font-size:.75rem; color:#383330; max-width:350px}

@media screen and (max-width:1160px){
	.moreTit{top:100px; left:0; padding:0 5%}
	
	.moreTitfea{top:auto; bottom:200px}
	
	.moreTitwed, .moreTitvip{ width:100%; margin:auto; text-align: center; top:auto; bottom:200px}
	/*.moreTit p{width:100%; margin:auto; text-align: center;margin:30px auto 20px;}*/
	.moreTitwed p{ margin:30px auto;}
	.moreTitvip small{width:100%; margin:auto; text-align: center;}
	}
@media screen and (max-width:600px){
	.moreTit{ width:100%; top:100px; left:0; text-align:center; }
	.moreTit p{ text-align:center; max-width:90%; margin:30px auto 20px;}
	.moreTit small{ display:none;}
	
	.moreTitfea, .moreTitwed, .moreTitvip{top:auto; bottom:7em}
	}	

.moreBanner{ height:710px; margin-top:-15px; margin-bottom:28px;}
.moreBanner div{ height:710px;}

/*單員選單*/
.minMenu{ position:absolute; z-index:99999; top:455px; right:85px;}
.minMenu a{ display:block; font-size:1.125rem; color:#000; text-align:right; margin-bottom:20px; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif';}

.minMenu02{ position:absolute; z-index:99999;}
.minMenu02 a{font-size:1.125rem; display:inline-block; color:#000; font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif'; }
.minMenu02 a:after{ content:''; width:1px; height:18px; background:#afafaf; display:inline-block; margin:0 30px; vertical-align:middle} 
.minMenu02 a:last-child:after{ display:none}

.minMenuRoom{ left:85px; top:410px;}

.minMenuTravel{top:410px; right:130px;}

.minMenuDic{ left:85px; width:45%; top:410px;}
.minMenuDic a{ margin-bottom:20px;}
.minMenuDic a:nth-child(even):after{ display:none;}

.minWed{color:#FFF; left:130px; top:420px}
.minWed a {color:#FFF; /*font-family:'新細明體'*/}

.minBou{ color:#FFF;  width:100%; text-align: center; top:720px;}
.minBou a{color:#FFF; }
.minBou a:after{content:''; background:#000}

.minFea{color:#000; text-align:center; max-width:450px; margin:auto; left:0; right:0; top:690px}
.minFea a{ margin-bottom:35px;}
.minFea a:nth-child(3):after{ display:none}

.minSpa{ max-width:90%; width:90%; left:0; right:0; margin:auto; text-align:center; top:410px;}
.minSpa a{color:#111; }

.minVip{ top:590px; right:230px;}


/*內頁 輪播banner*/
.detailBanner{ height:790px;  margin-bottom:30px;}
.detailBanner div{ height:790px;}
.detailBanner div img{ max-width:100%;vertical-align:top; display:none;}

.detailSmall{ position:absolute; bottom:280px; left:50px; width:90%; }
.bouSmall{ bottom:200px}
.detailSmall li{ cursor:pointer}
.detailSmall li.slick-slide{ opacity:0.5}
.detailSmall li.slick-current{ opacity:1 !important;}


.detailTxt{ position:absolute; bottom:30px; left:50px; /* animation: fadeInUp 3s ease; opacity:1*/}
.detailTxt h3{font-weight:bold; margin-bottom:35px;}
.detailTxt h3.white{ color:#FFF;}
.detailTxt p,.detailTxt ul{font-size:.875rem; color:#888; margin-bottom:10px;}
.detailTxt ul li{ margin-bottom:10px;}
.detailTxt > span{ font-size:.75rem; display:block; line-height:180%; font-family:'微軟正黑體'; width:90%}
.detailTxt span.black{color:#000; max-width:435px; }
.detailTxt span.gray{ color:#888}
.detailTxt.white{ color:#FFF;}
.detailTxt.white span{ font-size:.75rem; font-family:'微軟正黑體'; /*max-width:900px;*/ width:90%; display:block;line-height:180%;}

.bouqTxt{ bottom:45px;}

.detailBanner01{ height:790px;  margin-bottom:58px;}
.detailBanner01 div{ height:790px;}
.detailBanner01 div img{ display:none;}

.detailBanner04{ height:790px;  margin-bottom:58px;}
.detailBanner04 div{ height:790px;}
.detailBanner04 div img{ display:none;}

.detailBanner02{ height:850px; background:url(../img/vip_01_photo_001.jpg) no-repeat; position:relative;}
.statement{ position:absolute; top:240px; left:50px;  }
.statement h2{font-size:1.5rem; font-family:'LucidaFax-Regular'; margin-bottom:30px; }
.statement span{ font-size:.875rem; color:#4c4c4c; font-family:'LucidaFax-Regular'; letter-spacing:1px; max-width:370px; display:block; line-height:200%}
.statement .content{ color:#666; margin-top:65px;}
.statement .content p{ font-size:.75rem;  font-family:'微軟正黑體'; line-height:230%; margin-bottom:40px;}
.statement .content p:last-child{ margin-bottom:0}

@media screen and (max-width:1160px){
	.detailBanner{ margin-bottom:0}
	.detailBanner, .detailBanner div{ height:100%}
	.detailBanner01, .detailBanner01 div{height:100%}
	
	.detailBanner02{  position:relative; display:block; background:none; height:auto;}
	.detailBanner02:after{content:""; background:url(../img/vip_01_photo_001s.jpg); opacity:.3; top:64px; right:0; position:absolute; z-index:-1; width:536px; height:703px;}
	
	.statement{ padding:0 2.5%; left:0; top:80px;}
	.statement .content p br{ display:none}
	.statement .content p:last-child{ margin-bottom:30px}
	
	.detailBanner04{ margin-bottom:0}
	}
@media screen and (max-width:900px){
	.detailTxt.white span{ font-size:.875rem}
	.detailTxt span.gray{ font-size:.875rem}
	}
@media screen and (max-width:600px){
	.detailTxt{ display:none;}
	
	}
/*VIP*/
.detailBanner03{background:#f1f1f1; height:850px; position:relative;}
.events{ position:absolute; left:50px; top:200px;}
.events > p{ font-size:.75rem; font-family:'微軟正黑體'; max-width:940px; line-height:210%}
.seasonList{ margin-top:50px;}
.seasonList li{ width:215px; height:345px; border:13px solid #FFF; box-shadow:1px 1px 12px #888; display:inline-block; margin-right:25px; vertical-align:top; cursor:pointer}
.seasonList li .IMG{height:320px}
.seasonList li .IMG.sp{background:url(../../uploads/vip/2016_vip_spring.jpg) no-repeat center center; background-size:cover}
.seasonList li .IMG.su{background:url(../../uploads/vip/2015-summer.jpg) no-repeat center center; background-size:cover}
.seasonList li .IMG.fa{background:url(../../uploads/vip/2015-vip-spring.jpg) no-repeat center center; background-size:cover}
.seasonList li .IMG.ww{background:url(../../uploads/vip/2015-vip-winner.jpg) no-repeat center center; background-size:cover;}
.seasonList li span{ font-family:'微軟正黑體'; margin-top:40px; display:block; text-align:center; line-height:180%}
.seasonList li:last-child{ margin-right:0}
@media screen and (max-width:1160px){
	.detailBanner03{background:#FFF; height:auto;}
	.events{ top:70px; left:0; padding:0 5%}
	.seasonList li{width:50%;  margin-bottom:100px; margin-right:-4px;}
	.seasonList li:last-child{ margin-right:-4px}
	}
@media screen and (max-width:500px){
	.seasonList li{width:100%; margin-right:0}
	}
/*VIP LIGHTBOX*/
.memberAC{ position:fixed; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,.5); z-index:9999999; display:none}
.memberINN{ max-width:1040px; height:100%; margin:auto; background:#FFF; padding:2.5%; transform:scale(0); -webkit-transform:scale(0); opacity:0; visibility:hidden;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
.memberINN.on{ transform:scale(1); -webkit-transform:scale(1); opacity:1; visibility:visible;}
.memberINN h2{ font-size:1.7rem; line-height:1em; margin-bottom:30px;}
.memberTabel{border:1px solid #e5e5e5; 
background: #ededed;
background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 15%); 
background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 15%);
background: linear-gradient(to bottom,  #ededed 0%,#ffffff 15%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );

padding:0 25px;
font-size:.75rem;
font-family:'微軟正黑體';
}
.memberTabel .tit{ padding:25px 0 0;border-bottom:7px solid #e5e5e5;}
.memberTabel .tit span{ display:inline-block; vertical-align:top; margin-right:-8px;  position:relative;  padding:0 30px 26px;}
.memberTabel .tit span:after{content:''; width:1px; height:70px; background:#E5E5E5; position:absolute; right:0; top:-20px;}
.memberTabel .tit span:last-child:after{ display:none}
.memberTabel .tit .date{width:20%}
.memberTabel .tit .list{width:30%}
.memberTabel .tit .add{width:50%}

.memberList{}
.memberList li{border-bottom:1px solid #e5e5e5;}
.memberList li div{ font-size:.75rem; display:inline-block; vertical-align:top; margin-right:-8px;  padding:26px 30px;  line-height:180%;}
.memberList li .date{width:20%}
.memberList li .list{width:30%}
.memberList li .add{width:50%;}
.memberList li:last-child{ padding:26px 0; text-align:center}

.logo-s{ position:absolute; top:55px; left:50px; z-index:99999}
.logo-s img{ display:inline-block; vertical-align:middle; margin-right:24px;}
.logo-p{width:30px; height:30px;position:absolute; top:0px; left:0px; z-index:99999}

.closeX, .memberX, .roomX{display:block; width:26px; height:26px; background:url(../img/btn_close.png) no-repeat; position:absolute; z-index:99999; }
.closeX:hover,.memberX:hover, .roomX:hover{background:url(../img/btn_close_h.png) no-repeat}
.closeX{ right:50px; top:100px;}
.memberX{top:0; right:0;}
.roomX{ right:0; top:0}

.shortTxt{   padding:0 65px; margin-top:-200px; position:relative; z-index:99;}
.shortTxt h3{font-size:1.375rem; color:#FFF;font-family:  "STFangsong", "FangSong", '標楷體' , '标楷体' , "Times New Roman",'Baskerville' , 'Palatino', "Century Schoolbook L",   'serif'; margin-bottom:33px; }
.shortTxt p{ font-size:11px; color:#888; margin-bottom:50px; line-height:180%; font-family:'微軟正黑體';}
.shortTxt a{ color:#AAA; text-decoration:underline}
.shortTxt img{ margin-bottom:55px; max-width:100%; width:100%;}

.aboutTxt{ width:100%; padding:80px 0 50px; display:none;}
.aboutTxt .inner{width:90%; margin:auto;}
.aboutTxt h3{ font-weight:bold; margin-bottom:38px;}
.aboutTxt p{ font-size:.95rem; line-height:180%; margin-bottom:50px}
.aboutTxt img{max-width:100%; height:auto; margin-bottom:50px}

.completeSide{ background:#000; display:none;}
.pt30{ padding-top:30px;}
.pb60{ padding-bottom:60px;}
.pb80{ padding-bottom:80px;}
.pb0{ padding-bottom:0}
.shortTxt p.mb0{ margin-bottom:10px}
.shortTxt p.mt50{ margin-top:50px;}
.mb0{ margin-bottom:0}
.mb20{ margin-bottom:20px}

@media screen and (max-width:1160px){
	.moreBanner{ margin-top:0}
	.moreBanner{width:100%; position:absolute; margin-bottom:0; height:100%; }
	.moreBanner div{ height:100%;width:100%;}
	
	.logo-s{display:none;}
	.pt30{ padding-top:0px;}
	.closeX{ display:none;}
	.minMenu,.minMenu02, .minMenuDic{ display:none;}
	.pb60{ padding-bottom:0px;}
	
	.detailBanner01{ margin-bottom:0}

	.detailSmall{ display:none}
	

	}
	
@media screen and (max-width:900px){
	.memberTabel .tit{ display:none;}
	.memberList li .date,.memberList li .list{ width:50%;}
	.memberList li .add{width:100%;}
	
	.shortTxt p{ font-size:.875rem}
	}

@media screen and (max-width:600px){
	.detailBanner{ width:100%; height:auto !important; padding-top:62px;}
	.detailBanner div{ height:auto;  width:100%; background:none !important;}
	.detailBanner div img { display:block; vertical-align:top;}
	
	.detailBanner01{ width:100%;  height:100%; position:absolute; margin-bottom:0}
	.detailBanner01 div{width:100%;  height:100% }
	
	.detailBanner04{ width:100%; height:auto !important; padding-top:62px;}
	.detailBanner04 div{ height:auto;  width:100%; background:none !important;}
	.detailBanner04 div img { width:100%; height:auto; display:block; vertical-align:top;}
		
	.shortTxt{ display:none}
	.pb80{ padding-bottom:30px;}
	
	.dis-p{ display:none;}
	
	.aboutTxt{ display:block;}
	.detailSmall{ display:none;}

	.memberTabel{padding:0 1%}
	.memberList li div{ font-size:.875rem; padding:10px}
	}

/*最新消息*/
.NewsSide{ position:absolute; left:85px; top:430px; max-width:495px;}
.NewsSide a{ display:inline-block; width:45%; vertical-align:top; margin-bottom:75px; }
.NewsSide a:nth-child(even){ margin-left:8%; width:40%;}
.NewsSide a h3{ font-size:1.125rem; color:#000; margin-bottom:13px; font-weight:600}
.NewsSide a p{ font-size:.75rem; color:#555; line-height:180%;  font-family:'微軟正黑體';}
.NewsSide a p span{ display:inline-block; color:#000; font-weight:bold;}

.newsLetter{ position:absolute; left:85px; bottom:120px;}
.newsLetter h3{ font-size:1.125rem;font-weight:600;  letter-spacing:1px} 
.newsLetter h3 span{ font-size:1rem; color:#7b878e; font-family:'LucidaFax-Regular'; font-weight:100; display:inline-block; margin-left:8px;}
.newsLetter div{margin-top:10px; background:#e6ecee; width:280px; height:28px;}
.newsLetter div input[type="text"]{border:0; background:transparent; height:28px; padding:3px 5px; width:210px;}
.newsLetter div a{ font-size:11px; color:#000; font-weight:bold; display:inline-block;}

@media screen and (max-width:1160px){
	.NewsSide{ display:none;}
	.newsLetter{ left:0; padding:0 5%}
	}
@media screen and (max-width:600px){
	.newsLetter{bottom:5em; }
	}
	
/*lightBox*/
.lightMask{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,.5); top:0; left:0; z-index:9999999; display:none; overflow:hidden}
.lightBox{ width:1040px; height:770px; left:0; right:0; margin:auto; top:0; bottom:0; background:#FFF; position:absolute; padding-bottom: 60px;  transform:scale(0); -webkit-transform:scale(0); opacity:0; visibility:hidden;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
.lightBox.on{ transform:scale(1); -webkit-transform:scale(1); opacity:1; visibility:visible;}
.lightBox .top{padding:0 5%; position:relative; padding-top:50px;
background: #dcdcdc; /* Old browsers */
background: -moz-linear-gradient(top,  #dcdcdc 0%, #ffffff 25%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #dcdcdc 0%,#ffffff 25%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #dcdcdc 0%,#ffffff 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.lightBox .top img{max-width:100%; display:inline-block; vertical-align: middle}
.lightBox .top .travLogo{margin-right:20px;}

.videoBox{ width:700px; height:570px; padding:2em 1.8em; background:#FFF; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;
 transform:scale(0); -webkit-transform:scale(0); opacity:0; visibility:hidden;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
.videoBox.on{ transform:scale(1); -webkit-transform:scale(1); opacity:1; visibility:visible;}
.videoINN{ height:390px; position:relative; }
.closeVideo{width:26px; height:26px; display:block; background:url(../img/btn_close.png) no-repeat; position:absolute; top:-58px; right:-56px}
.videoTxt{ font-family:'微軟正黑體'; margin-top:30px;}
.videoTxt h4{ font-size:1.25rem; margin-bottom:20px;}
.videoTxt p{ font-size:.875rem; color:#444; line-height:180%}

.travelClose{display:block; width:26px; height:26px; background:url(../img/btn_close.png) no-repeat; position:absolute; right:50px; top:40px;}
.travelClose:hover{background:url(../img/btn_close_h.png) no-repeat;}
.travelMore{ font-size:1.25rem; display:block; width:100%; text-align:center; color:#000; padding:1em 0}

.contMenu, .contMenu01,.contMenu02{width:100%; background:#f2f2f2; padding:.5em 5%; margin:35px 0}
.contMenu02{ margin-top:0}
.contMenu li,.contMenu01 li,.contMenu02 li{ font-size:.875rem; display:inline-block; font-family:'微軟正黑體';  cursor:pointer; margin-bottom:10px;}
.contMenu li:after, .contMenu01 li:after , .contMenu02 li:after{content:''; width:1px; height:12px; background:#c2b0b0; display:inline-block; margin:0 12px; vertical-align:middle}
.contMenu li:last-child:after, .contMenu01 li:last-child:after, .contMenu02 li:last-child:after{ display:none}
.contMenu li a, .contMenu01 li a, .contMenu02 li a{ color:#c2b0b0;  pointer-events: none;/*可點到下一層*/ /*pointer-events: auto;預設點自己這一層*/}
.contMenu li.-on a, .contMenu01 li.-on a, .contMenu02 li.-on a{ color:#000}


.contTab{}
.contTab h3{font-weight:bold; margin-bottom:33px;}
.contList{ height:auto; width:100%;}
.contList .inner{ width:90%; margin:auto;}
.contBox{ }
.contBox li{ display:block; padding-bottom:35px; margin-bottom:35px; border-bottom:1px solid #e5e5e5; cursor: pointer}
.contBox li:last-child{ margin-bottom:0}
.contBox li .TXT, .contBox li .IMG{ display:inline-block; vertical-align:top; margin-right:-4px;}
.contBox li .IMG{ width:7.5%; height:70px; -moz-box-shadow: 1px 1px 12px #888; -webkit-box-shadow: 1px 1px 12px #888; box-shadow:1px 1px 12px #888;}
.contBox li .TXT{width:85%; margin-left:3%;}
.contBox li .TXT .tit { font-size:.875rem; font-family:'微軟正黑體','MyriadPro-Regular'; margin-bottom:15px;}
.contBox li .TXT .tit h4, .contBox li .TXT .tit span{ display:inline-block;}
.contBox li .TXT .tit h4{ margin-right:25px;}
.contBox li .TXT .tit span{ font-size:.75rem; color:#444; margin-right:10px;}
.contBox li .TXT p{ font-size:.75rem; color:#555; font-family:'微軟正黑體'; line-height:180%}

@media screen and (max-width:1040px){
	.lightBox{ max-width:100%; width:100%;}
	}
@media screen and (max-height:1000px){
	.lightBox{ overflow-y:auto; height:100%}
	}
@media screen and (max-width:850px){
	.contBox li .TXT, .contBox li .IMG{ display:block; }
	.contBox li .IMG{ width:70px;}
	.contBox li .TXT{ margin-left:0; margin-top:20px; width:100%}
	}
@media screen and (max-height:770px){
	.lightBox{ overflow-y:auto; height:100%}
	}
@media screen and (max-width:700px){
	.videoBox{width:100%; height:100%; padding:3em 2.5%; overflow-y:auto; }
	.closeVideo{ top:-2em; right:0}
	}
@media screen and (max-width:600px){
	.lightBox .top img{ display:block}
	.lightBox .top .travLogo{ margin-right:0; margin-bottom:20px;}
	.travelClose{ top:1em; right:1em}
}
@media screen and (max-width:500px){
	.contMenu li{ margin-bottom:10px;}
	
}
/*最新消息*/
.newsLight{ width:1042px; height:100%; overflow-y:auto; background:#FFF; margin:auto;　left:0; right:0; top:0; bottom:0;  transform:scale(0); -webkit-transform:scale(0); opacity:0; visibility:hidden;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
.newsLight.on{transform:scale(1); -webkit-transform:scale(1); opacity:1; visibility:visible;}
.newsbanner{height:380px; background:url(../img/news_photo_001.jpg) no-repeat center center; background-size:cover; position:relative;}
.newsbanner .logo{ padding:50px; }
.newsbanner .logo img, .newsbanner .logo h2{ display:inline-block; vertical-align:middle}
.newsbanner .logo h2 { font-size:1.6rem; color:#000; margin-left:10px;}
.newsClose{ width:26px; height:26px; background:url(../img/btn_close.png) no-repeat; background-size:cover; position:absolute; top:100px; right:50px; z-index:999999}

@media screen and (max-width:1042px){
	.newsLight{width:100%;}
	
}
@media screen and (max-width:600px){
	.newsbanner .logo{ padding:1em 2.5%}
	.newsClose{ top:1em; right:2.5%}
}

/*婚禮影片*/
.waddingLight{width:100%; height:100%; top:0; left:0; position:fixed; z-index:9999999; display:none }
.waddingLight div{width:100%; height:100%; top:0; left:0; position:absolute; z-index:9999; }
.closeWad{ width:26px; height:26px; position:absolute; right:10px; top:15px;z-index:99999999; display:block; background:url(../img/btn_close.png) no-repeat}
.closeWad:hover{background:url(../img/btn_close_h.png) no-repeat}

/*探索*/
.discoverTxt{ width:100%; padding:40px 0 30px}
.discoverTxt .inner{width:90%; margin:auto;}
.discoverTxt h3{ font-weight:bold; margin-bottom:38px;}
.discoverTxt p{ line-height:180%}

.phone{ display:none;}

@media screen and (max-width:600px){
	.discoverTxt{ padding:120px 0 30px}
	}
/*RWD 輪播文字 - - -餐宴 SPA */
.RWDTxt{padding:100px 5% 50px; display:none;}
.RWDTxt h3{ font-size:1.25rem; font-weight:bold; margin-bottom:20px; padding-top:5px;}
.RWDTxt p{ margin-bottom:10px;  line-height:180%}
.RWDTxt ul{ margin-bottom:10px}
.RWDTxt ul li{ margin-bottom:10px; line-height:180%}
.RWDTxt span{ line-height:180%}

@media screen and (max-width:600px){
	.RWDTxt{ display:block;}

	}

/*如何到涵碧樓*/
.gotoLight{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:999999; left:0; top:0; display:none}
.gotoINN{ max-width:960px;width:100%; height:100%; margin:auto; padding:2.5%; transform:scale(0); -webkit-transform:scale(0); opacity:0; visibility:hidden; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; 
background: #dcdcdc; 
background: -moz-linear-gradient(top,  #dcdcdc 0%, #ffffff 4%);
background: -webkit-linear-gradient(top,  #dcdcdc 0%,#ffffff 4%);
background: linear-gradient(to bottom,  #dcdcdc 0%,#ffffff 4%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ffffff',GradientType=0 ); 
overflow-y:auto;
position:relative
}
.gotoINN.on{ transform:scale(1); -webkit-transform:scale(1); opacity:1; visibility:visible;}
.gotoINN .tit01{ padding-bottom:30px; border-bottom:1px solid #CCC; margin-bottom:25px;}
.gotoINN .tit01 h2{ font-size:1.5rem; font-weight:bold; margin-bottom:27px; padding-top:5px}
.gotoINN .tit01 p{ font-size:.75rem; color:#555; font-family:'微軟正黑體'; line-height:180%}

.gotoINN .tit02{}
.gotoINN .tit02 h3{ font-size:1.25rem; font-weight:bold; margin-bottom:22px}
.gotoINN .tit02 h3 span{ color:#d0d0d0; display:inline-block; margin-left:15px; font-weight:normal; letter-spacing:1px}
.gotoINN .tit02 ul{}
.gotoINN .tit02 ul li{ font-size:.75rem; font-family:'微軟正黑體'; display:inline-block; margin-right:30px; margin-bottom:15px}
.gotoINN .tit02 ul li:last-child{ margin-right:0}

.gotoList{ font-size:.75rem; color:#000; font-family:'微軟正黑體'; border:1px solid #e5e5e5; margin-top:30px;
background: #dcdcdc; 
background: -moz-linear-gradient(top,  #dcdcdc 0%, #ffffff 4%);
background: -webkit-linear-gradient(top,  #dcdcdc 0%,#ffffff 4%);
background: linear-gradient(to bottom,  #dcdcdc 0%,#ffffff 4%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ffffff',GradientType=0 );
}
.gotoList tr{ border-bottom:1px solid #e5e5e5}
.gotoList th{ text-align:left; padding:30px 25px; border-right:1px solid #e5e5e5}
.gotoList td{padding:30px 25px; border-right:1px solid #e5e5e5; vertical-align:top}
.gotoList td p{ margin-bottom:30px; line-height:180%}
.gotoList td p:last-child{ margin-bottom:0}

.closeXX{ display:block; width:25px; height:25px; background:url(../img/btn_x1a.png) no-repeat center center; position:absolute; top:0; right:0; opacity:.2; z-index:99}
.closeXX:hover{ opacity:.8}

.contactXX{ top:2.5%;  right:5%}

/*聯絡我們*/
.contackLight{ position:fixed; width:100%; height:100%; top:0; left:0; z-index:9999999; background:rgba(0,0,0,.7); display:none}
.contactINN{ max-width:600px; width:100%; height:100%; margin:auto; background:#FFF;  position:relative;transform:scale(0); -webkit-transform:scale(0); opacity:0; visibility:hidden; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; 
background: #dcdcdc; 
background: -moz-linear-gradient(top,  #dcdcdc 0%, #ffffff 15%);
background: -webkit-linear-gradient(top,  #dcdcdc 0%,#ffffff 15%);
background: linear-gradient(to bottom,  #dcdcdc 0%,#ffffff 15%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ffffff',GradientType=0 ); 
overflow-y:auto;}
.contactINN.on{transform:scale(1); -webkit-transform:scale(1); opacity:1; visibility:visible;}
.contactINN .tit01, .contactINN .tit02{ padding-bottom:30px; border-bottom:1px solid #CCC; margin-bottom:25px;}
.contactINN .tit01 h2{ font-size:1.5rem; font-weight:bold; margin-bottom:25px;}
.contactINN .tit01 p{font-size:.75rem; color:#555; font-family:'微軟正黑體'; line-height:180%}

.contactINN .tit02 h3, .contForm h3{font-size:1.25rem; font-weight:bold; margin-bottom:22px}
.contactINN .tit02 h3 span, .contForm h3 span{color:#d0d0d0; display:inline-block; margin-left:15px; font-weight:normal; letter-spacing:1px}
.contactINN .tit02 ul{}
.contactINN .tit02 ul li{font-size:.75rem; font-family:'微軟正黑體'; display:block; margin-right:30px; margin-bottom:15px}

.contactINN .inner{padding:5% 5% 10%; position:relative}

.contForm{}
.contForm ul{}
.contForm ul li{ padding:15px; border:1px solid #a7a7a7; background:#f9f9f9; margin-bottom:10px}
.contForm ul li input,.contForm ul li textarea { width:100%; border:0; background: transparent}
.contForm ul li textarea { min-height:150px}

.contForm .scBtn{ width:100%; margin-top:20px}
.contForm .scBtn a{ font-size:1.25rem; color:#000; display:inline-block; margin-right:20px; float:right}
.contForm .scBtn a:hover{ color:#AAA}
.contForm .scBtn a:first-child{ margin-right:0}

/*夜宿*/
.roomPB0{ padding-bottom:0}

.roomBtn{max-width:940px; width:100%; margin:auto; position:absolute; bottom:10%; left:0; right:0;}
.roomBtn a{  font-size:1.125rem; color:#FFF; display:inline-block; width:50%; margin-right:-4px; background:rgba(0,0,0,.8); padding:15px 5px; text-align:center; vertical-align:bottom;}
.roomBtn a span{ font-size:1rem; margin-left:10px;}

.roomBtnMore{ bottom:0px;}
.roomBtnMore a:hover, .roomBtnMore a.on{color:#000; background:#f2f2f2}

.roomTxt{width:1040px;; background:#f2f2f2; margin:auto;}
.roomTxt .inner{ max-width:980px; width:90%; margin:auto; padding:40px 0 80px;}
.roomTxt h3{ font-size:1.25rem; font-weight:bold; margin-bottom:33px; line-height:150%}
.roomTxt p{ font-size:.875rem; color:#888; font-family:'微軟正黑體'; line-height:150%}

.roomMB30{ margin-bottom:30px;}
.roomMB0{ margin-bottom:0}

.morePjo{color:#888; }
.morePjo:hover{color:#000}
@media screen and (max-width:1160px){
	.roomBtn{ bottom:0}
	.roomMB30{ margin-bottom:0;}
	
	.roomTxt{width:100%;}
	.roomTxt .inner{ max-width:100%; width:90%;}
}

@media screen and (max-width:505px){
	.roomBtn a{ min-height:105px;}
	.roomBtn a span{ margin-top:10px; display:block; text-align:center; line-height:150%}
	}

/*夜宿 專案比較*/
.pjoLightobox{width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.5); position:fixed; z-index:9999999; display:none;}
.pjoINN{ max-width:1200px; background:#FFF; margin:auto; height:100%; padding:50px; position:relative; overflow-x:auto}
.pjoINNs{ overflow-x:auto;}

table.roomTable{ font-size:.75rem; font-family:'微軟正黑體'; width:100%; overflow-x:auto; margin-top:20px;}
table.roomTable th { font-size:.75rem; border-bottom:7px solid #e5e5e5; text-align:center; width:8%}
table.roomTable th.species{width:1%}
table.roomTable td, table.roomTable th { padding:20px; border-left:1px solid #e5e5e5; }

table.roomTable td.noLine,  table.roomTable th.noLine{ border-left:none}
table.roomTable tr{border-bottom:1px solid #e5e5e5; min-height:100px; line-height:180%}
table.roomTable tr.vTop{ vertical-align:top;}
table.roomTable tr:last-child{border-bottom:0}

.dotG, .dotW{width:10px; height:10px; border-radius: 50%; display:block; margin:auto;}
.dotG{background:#7f7f7f; }
.dotW{background: #FFF}

.tableList{}
.tableList li{ margin-bottom:10px;}
.tableList li:last-child{ margin-bottom:0}
.LRBtn{font-family:'微軟正黑體'; width:100%; text-align:center; display:none;padding:10px 0}



@media only screen and (max-width: 800px) {
	.LRBtn{ display:block;}
	.pjoINN{ padding:20px;}
	.dotG, .dotW{margin:.44em 0;}
	table.roomTable th.noLine{padding:0 0 20px 0;}
	table.roomTable td.noLine{}
	table.responsive { margin-bottom: 0; margin:auto;}
	
	.pinned { position: absolute; left: 0; top: 0; background: #f2f2f2; width: 30%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #FFF; text-align:center}
	.pinned table { border-right: none; border-left: none; width: 100%; overflow:auto;}
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned table th{ min-width:100px;}
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 30%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child,
	table.responsive td:first-child, 
	table.responsive td:first-child, 
	table.responsive.pinned td { display: none; }

	.tableList li{display:inline-block; margin-bottom: 0; margin-right: 10px}
	
}


