main{
    display:flex;flex-wrap:wrap;
    justify-content:center;
    background-color:#cccccc;
}
main>.item{
    flex:none;width:250px;margin:10px;
    background-color:#ffcccc;
}
nav{
    display:flex;
}
nav > .logo{
    flex:none;width:100px;
    background-color:#ffcccc;
}
nav > .menu{
    flex:auto;
    background-color:#ccffcc;
}
nav .user{
    flex:none;width:100px;
    background-color:#ccccff;
}
/* 
   computer: 1200px
   i pad:    between
   phone:    500px
*/
@media (max-width:1200px){
    main > .item{
        width:45%;
    }
}
@media (max-width:500px){
    main > .item{
        width:90%;
    }
}